{% load static%}
{% load blog_tags %}

<div class="active-recent-blog-carusel">
    {% for post in posts %}
    <div class="single-recent-blog-post item">
        <div class="thumb">
            <img class="img-fluid" src="{{post.image.url}}" alt="" style="width: 600px; height: 250px;">
        </div>
        <div class="details">
            <div class="tags">
                <ul>
                    {% for cat in post.category.all %}
                    <li>
                        <a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a>
                    </li>
					{% endfor %}					
                </ul>
            </div>
            <a href="{% url 'blog:single' pid=post.id  %}"><h4 class="title">{{post.title}}</h4></a>
            <p>
                {{post.content|truncatechars:50}}
            </p>
            <h6 class="date"><a href="#">{{post.published_date|date:"Y-m-d"}}</a></h6>
        </div>	
    </div>	
    {% endfor %}												

</div>